<h1 class="text-center py-3">{{interpolationTitle}}</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <table class="table table-dark table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">INTEGRANTE</th>
          <th scope="col">PUESTO</th>
          <th scope="col">E-MAIL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>José</td>
          <td>Storm</td>
          <td>jstorm@4devps.com</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Fausto</td>
          <td>Thor Power</td>
          <td>fthorpower@4devps.com</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Edu</td>
          <td>Hackerman</td>
          <td>ehackerman@4devps.com</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>August</td>
          <td>Iron</td>
          <td>airon@4devps.com</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
