<!-- Footer -->
<div class="footer">
  <div class="container">
    <!-- Footer logo -->
    <div class="main-photo">
      <img width="120" height="120" class="banner-logo pulsate-opacity" src="assets/img/logo.svg" alt="">
    </div>
    <!-- Footer social icon -->
    <ul class="social-links grid-full">
      <li>
        <a title="Twitter" target="_blank" href="#">
					<span class="icon-circle large">
						<i class="fa fa-twitter"></i>
					</span>
        </a>
      </li>
      <li>
        <a title="facebook" target="_blank" href="#">
					<span class="icon-circle large">
						<i class="fa fa-facebook"></i>
					</span>
        </a>
      </li>
      <li>
        <a title="skype" target="_blank" href="#">
					<span class="icon-circle large">
						<i class="fa fa-skype"></i>
					</span>
        </a>
      </li>
      <li>
        <a title="dribbble" target="_blank" href="#">
					<span class="icon-circle large">
						<i class="fa fa-dribbble"></i>
					</span>
        </a>
      </li>

    </ul>
    <p>4 DEVPS Creative Studio - Derechos reservados</p>
  </div>
</div>
<!-- End of Footer -->

<!-- Scroll top -->
<div class="scrolltotop">
  <i class="fa fa-chevron-up"></i>
</div>
<!-- End scroll top -->
