<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onclickServicios()">
          <mat-icon>home_work</mat-icon>
          <span>Home</span>
        </button>
        <button mat-menu-item (click)="onclickEquipo()">
          <mat-icon>groups</mat-icon>
          <span>Nuestro Equipo</span>
        </button>
        <button mat-menu-item (click)="onclicksPortafolio()">
          <mat-icon>poll</mat-icon>
          <span>Portafolio</span>
        </button>
        <button mat-menu-item (click)="onclickEscribenos()">
          <mat-icon>contact_page</mat-icon>
          <span>Escríbenos</span>
        </button>
      </mat-menu>
      <mat-icon>menu</mat-icon>
    </button>
    <span>4 devps - Grupo 1</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
