<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="row center-xs">
      <div class="col-md">
        <h2 class="section-title">PORTAFOLIO</h2>
        <p>Aquí encontraras los trabajos realizados por el equipo de  4DEVSP.</p>
      </div>
    </div>
  </div>
  <div class="padding-small">
    <div class="row margin-bottom-small">
      <div class="col-md-4">
        <div class="hover-outer-box">
          <img src="assets/img/project-1.jpg">
          <div class="hover-inner-box">
            <div class="hover-content">
              <h3>LETTERING</h3>
              <p>Todo lo que te imaginas sobre la tipografía realizada a mano</p>
              <a href=""><button class="light">Más Información</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="hover-outer-box">
          <img src="assets/img/project-2.jpg">
          <div class="hover-inner-box">
            <div class="hover-content">
              <h3>ESTAMPADO</h3>
              <p>Estampamos todo lo que tu te puedas imaginar no existen límites</p>
              <a href=""><button class="light">Más Información</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="hover-outer-box">
          <img src="assets/img/project-3.jpg">
          <div class="hover-inner-box">
            <div class="hover-content">
              <h3>DISEÑO INTERIORES</h3>
              <p>Construimos tus espacios de acuerdo a tu estilo, se único</p>
              <a href=""><button class="light">Más Información</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-bottom-small">
      <div class="col-md-4">
        <div class="hover-outer-box">
          <img src="assets/img/project-4.jpg">
          <div class="hover-inner-box">
            <div class="hover-content">
              <h3>DISEÑO GRÁFICO</h3>
              <p>Desarrollamos tu identidad desde cero, para posicionarte en el mercado</p>
              <a href=""><button class="light">Más Información</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="hover-outer-box">
          <img src="assets/img/project-5.jpg">
          <div class="hover-inner-box">
            <div class="hover-content">
              <h3>MODELADO 3D</h3>
              <p>Creamos atmosferas realistas de como se veran tus espacios en 3d realidad</p>
              <a href=""><button class="light">Más Información</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="hover-outer-box">
          <img src="assets/img/project-6.jpg">
          <div class="hover-inner-box">
            <div class="hover-content">
              <h3>PINTURA</h3>
              <p>Creamos cuadros de alta calidad con las mejores técnicas de pintura</p>
              <a href=""><button class="light">Más Información</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
