<section class="portfolio" id="portfolio">
  <div class="container">
    <div class="row center-xs">
      <div class="col-md">
        <h2 class="section-title">Portafolio</h2>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
      </div>
    </div>
  </div>
  <div class="padding-small">
    <div class="row margin-bottom-small">
      <div class="col-md-4">
        <div class="hover-outer-box">
          <img src="assets/img/project-1.jpg">
          <div class="hover-inner-box">
            <div class="hover-content">
              <h3>Projecttitle</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
              <a href=""><button class="light">Call to action</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="hover-outer-box">
          <img src="assets/img/project-2.jpg">
          <div class="hover-inner-box">
            <div class="hover-content">
              <h3>Projecttitle</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
              <a href=""><button class="light">Call to action</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="hover-outer-box">
          <img src="assets/img/project-3.jpg">
          <div class="hover-inner-box">
            <div class="hover-content">
              <h3>Projecttitle</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
              <a href=""><button class="light">Call to action</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-bottom-small">
      <div class="col-md-4">
        <div class="hover-outer-box">
          <img src="assets/img/project-4.jpg">
          <div class="hover-inner-box">
            <div class="hover-content">
              <h3>Projecttitle</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
              <a href=""><button class="light">Call to action</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="hover-outer-box">
          <img src="assets/img/project-5.jpg">
          <div class="hover-inner-box">
            <div class="hover-content">
              <h3>Projecttitle</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
              <a href=""><button class="light">Call to action</button></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="hover-outer-box">
          <img src="assets/img/project-6.jpg">
          <div class="hover-inner-box">
            <div class="hover-content">
              <h3>Projecttitle</h3>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
              <a href=""><button class="light">Call to action</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
