<h1 class="text-center py-3">{{title}}</h1>

<div class="container">
  <div class="row   justify-content-sm-center justify-content-md-center py-3">
    <div class="col col-sm-8 col-md-6 col-lg-5 col-xl-4 py-1">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://user-images.githubusercontent.com/78450336/107279611-44784900-6a25-11eb-9c24-e7f781e7684e.jpg" alt="Card image cap">
        <div class="card-body">
          <h2 class="text-center py-2">ANIMACIÓN</h2>
          <p class="card-text">La animación es un proceso utilizado por uno o más animadores para dar la sensación de movimiento a imágenes, dibujos u otro tipo de objetos inanimados (figuras de plastilina, por ejemplo). Se considera normalmente una ilusión óptica.</p>
        </div>
      </div>
    </div>
    <div class="col col-sm-8 col-md-6 col-lg-5 col-xl-4  py-1">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://user-images.githubusercontent.com/78450336/107279713-6245ae00-6a25-11eb-836d-72b871a5c3cc.jpg" alt="Card image cap">
        <div class="card-body">
          <h2 class="text-center py-2">MODELADO 3D</h2>
          <p class="card-text">El modelado 3D y animación 3D consiste en utilizar software para crear una representación matemática de un objeto o forma tridimensional. El objeto creado se denomina modelo 3D y se utiliza en distintas industrias y distintos medios digitales.</p>
        </div>
      </div>
    </div>
    <div class="col col-sm-8 col-md-6 col-lg-5 col-xl-4 py-1">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://user-images.githubusercontent.com/78450336/107279739-68d42580-6a25-11eb-9b08-166f69843006.jpg" alt="Card image cap">
        <div class="card-body">
          <h2 class="text-center py-2">DISEÑO WEB</h2>
          <p class="card-text">El diseñador web es la persona o profesional que reune los conocimientos necesarios para crear sitios web con las características y requisitos necesarios para representar y defender un negocio, empresa o actividad en Internet.</p>
        </div>
      </div>
    </div>
  </div>
</div>
